{% extends "base.html" %}

{% block title %} Folga {%  endblock title %}


{% block content %} 
    <div class="container">
        <div class="row">
        <div class="col">
            <h4 class="text-center alert alert-info">Cadastro de Folgas</h4>
            <form method="post">{% csrf_token %}
                <div class="form-group">
                <label>Nome</label>
                <select name="nome" required="" id="id_nome">
                <option value="" selected="">---------</option>
                {% for i in medicos%}
                <option value="{{i.nome}}">{{i.nome}} {{i.sobrenome}}</option>
                {%endfor%}
                </select>
                </div>
                <label>Data da Folga</label>
                <input type="date" name="data_da_folga" required="" id="id_data_da_folga">
                <br>
                <button type="submit" class="btn btn-primary">Criar</button>
                <a href="{% url 'home'%}"class="btn btn-light btn-sm">voltar</a>
                
            </form>

        </div>

    <div class="col-sm-8">
    <h4 class="text-center alert alert-info">Tabela de folgas</h4>
    {% if folga %}
    <div> 
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope='col'>ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Data da Folga</th>
                <th scope="col">Ação</th>

            </tr>
            </thead>
            <tbody>
                {% for item in folga %}
                
                    <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.data_da_folga}}</td>
                    <td>
                        <form action="{% url 'deletar-folga' item.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Deletar">
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    </div>
    </div>
{% endblock content %}