{% extends "base.html" %}

{% block title %} Cadastro de Postos{%  endblock title %}


{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-center alert alert-info">Cadastro de Postos</h4>
                <form method="post">{% csrf_token %}
                    <div class="form-group">
                    {{form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                    <a href="{% url 'home'%}"class="btn btn-light btn-sm">voltar</a>
                </form>
            </div>
    <div class="col-sm-8">
    <h4 class="text-center alert alert-info">Tabela</h4>
    {% if listar %}
    <div> 
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope='col'>ID</th>
                <th scope="col">Clínica</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ação</th>

            </tr>
            </thead>
            <tbody>
                {% for item in listar %}
                
                    <tr>
                    
                    <td>{{item.id}}</td>
                    <td>{{item.nome_do_posto}}</td>
                    <td>{{item.endereco}}</td>
                    <td>
                        <a href="{% url 'editar-clinica' item.id%}"class="btn btn-warning btn-sm">Editar</a>
                        <form action="{% url 'deletar-clinica' item.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Deletar">
                        </form>

                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    </div>
        </div>
    </div>
{% endblock content %}