{% extends "base.html" %}

{% block title %} Atualziar {%  endblock title %}


{% block content %} 
    <div class="container">
        <div class="row">
        <div class="col">
            <h4 class="text-center alert alert-info">Atualizar Informações</h4> 
            <form method="post">{% csrf_token %}
                <div class="form-group">
                {{form.as_p}}
                </div>
                <button type="submit" class="btn btn-primary">Atualizar</button>
                <a href="{% url 'cadastro-de-medico'%}"class="btn btn-light btn-sm">voltar</a>
            </form>
        </div>
    </div>
{% endblock content %}