{% extends "base.html" %}

{% block title %} Home {%  endblock title %}


{% block content %} 
    <div class="container">
    <div class="form-group">
    
        <a href="{% url 'cadastro-de-clinica' %}"class="btn btn-outline-primary">Cadasstro de clinica</a>
        <a href="{% url 'cadastro-de-medico' %}"class="btn btn-outline-primary">Cadastro de médico</a>
        <a href="{% url 'cadastro-de-tabela' %}"class="btn btn-outline-primary">Cadastro de tabela</a>
        <a href="{% url 'cadastro-de-folga' %}"class="btn btn-outline-primary">Cadastro de folga</a>
    </div>
    
    </div>

    <div>
    <h4 class="text-center alert alert-info">Tabela de Horários</h4>
    <div class="col-md-8">
        <form class="form-inline my-2 my-gl-0 pull-right">
            <label>Data Inicial</label>
            <input name="data_inicial" class="form-control ml-sm-2 mr-sm-2" type="date">
            <label>data final</label>
            <input name="data_final" class="form-control ml-sm-2 mr-sm-2" type="date">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Ok</button>
        </form>
    </div>
    {% if horario %}
    <div> 
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope='col'>Data</th>
                <th scope="col">Médico</th>
                <th scope="col">Nome da Clínica</th>
                <th scope="col">Ação</th>

            </tr>
            </thead>
            <tbody>
                {% for item in horario %}
                
                    <tr>
                    <td>{{item.data_de_trabalho}}</td>
                    <td>{{item.nome}}</td>
                    <td>{{item.nome_do_posto}}</td>
                    <td>
                        <a href="{% url 'editar-tabela' item.id%}"class="btn btn-warning btn-sm">Editar</a>
                        <form action="{% url 'deletar-horario' item.id %}" method="post" class="d-inline">{% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Deletar">
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    </div>
    </div>

{% endblock content %}